.footer {
  background-color: #1B1B1B;
  padding: 80px 0 60px;

  &-header, &-title {
    text-align: center;
  }

  &-header {
    color: #ffff;
    font-size: 38px;
  }

  &-title {
    color: #6B6B6B;
    margin: 30px 0;
  }

  &__actions {
    display: flex;
    justify-content: center;

    &-input input, &-button button {
      padding: 10px 20px;
    }

    &-sub-text {
      font-size: 20px;
      color: #02ac02;
    }
  }
}