.links {
  background-color: #1B1B1B;
  padding: 40px 0 60px;

  &-content {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;

    & a {
      color: #6B6B6B;

      &:hover {
        color: #fff;
      }
    }
  }
}