body {
  font-family: 'Gothic A1', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

body.subscribed {
  .footer__actions {
    display: none;
  }

  .footer-subscriber__text {
    display: block;
    color: #02ac02;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #ffff;
}

button, input {
  border: none;
  outline: none;
}

button {
  color: #fff;
  cursor: pointer;
}

.container {
  width: 1120px;
  margin: 0 auto;
  transition: 100ms;
}

.primary-button {
  background-color: #FC0A7E;
  transition: 100ms;
}

.primary-button:hover {
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 23%) inset;
}