@media (max-width: 1135px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 1125px) {
  .container {
    width: 95%;
  }

  .links-content {
    width: 90%;
  }
}

@media (max-width: 1268px) {
  .header__content::after {
    z-index: -1;
    right: 8px;
    width: 595px;
  }
}

@media (max-width: 840px) {
  .header__content::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-content {
    display: block;
    border-top: 1px solid #6B6B6B;

    &-text__section {
      width: 100%;
    }

    &-image__section {
      display: none;
    }
  }

  .modes .container {
    display: block;
  }

  .modes-section {
    width: 100%;
    text-align: unset;
    border: 1px solid #6B6B6B;
    margin-bottom: 20px;
    padding: 20px 10px;
    border-radius: 4px;

    &__image img {
      margin: unset;
    }
  }

  .links-content {
    flex-direction: column;
    text-align: center;

    & a {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 730px) {
  .header__nav-content {
    display: none;
  }

  .mobile__menu-button {
    display: block;
  }
}

@media (max-width: 560px) {
  .header__content-text {
    font-size: 50px;
  }

  .header__content-title {
    font-size: 20px;
  }

  .secondary-caption {
    font-size: 22px;
  }

  .menu-content-text__section-header {
    font-size: 30px;
  }

  .footer-header {
    font-size: 33px;
  }
}