/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */
@import 'demo';

body {
  font-family: 'Gothic A1', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

a {
  text-decoration: none;
  color: #ffff;
}

button, input {
  border: none;
  outline: none;
}

button {
  color: #fff;
  cursor: pointer;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.header {
  position: relative;
  background: linear-gradient(302deg, rgba(69,14,75,1) 0%, rgba(60,12,65,1) 21%, rgba(207,0,99,1) 100%);
  height: 800px;
  color: #fff;
}

.header::after {
  content: '';
  position: absolute;
  background-image: url(../images/content/header.png);
  background-repeat: no-repeat;
  width: 645px;
  height: 674px;
  top: 94px;
  right: 605px;

  animation: 3s linear 1s infinite alternate slidein;
  animation-name: fluttering;

}

@keyframes fluttering {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header-nav-logo {
  user-select: none;
}

.header-nav-content {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.primary-button {
  background-color: #FC0A7E;
}

.header-nav-content a, .primary-button {
  transition: 100ms;
}

.header-nav-content a:hover {
  opacity: .7;
}

.header-content div:nth-child(1) {
  font-size: 60px;
  margin-top: 190px;
}

.header-content div:nth-child(2) {
  font-size: 30px;
  margin: 10px 0 20px;
}

.header-content-button button {
  padding: 16px 20px;
}

.primary-button:hover {
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 23%) inset;
}

.secondary {
  background-color: #1B1B1B;
  text-align: center;
  padding: 90px 0 0;
  color: #ffff;
}

.secondary-title {
  color: #A8A8A8;
}

.secondary-caption {
  font-size: 32px;
}

.secondary-image__tablet {
  position: relative;
}

.secondary-image__tablet img {
  width: 100%;
}

.menu {
  padding: 65px 0;
}

.menu-reverse .menu-content-first__block {
  order: 2
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.menu-content-first__block {
  width: 400px;
}

.menu-content-first__block-title {
  text-transform: uppercase;
  color: #A8A8A8;
}

.menu-content-first__block-header {
  font-size: 35px;
  margin: 20px 0;
}

.menu-content-first__block-info {
  color: #6B6B6B;
  line-height: 26px;
}

.modes .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modes-section {
  width: 330px;
  text-align: center;
}

.modes-section__image img {
  width: 58px;
  height: 38px;
  margin: 0 auto;
  object-fit: contain;
}

.modes-section__header {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

.modes-section__text {
  color: #6B6B6B;
  line-height: 22px;
}

.footer {
  background-color: #1B1B1B;
  padding: 80px 0 60px;
}

.footer-header, .footer-title {
  text-align: center;
}

.footer-header {
  color: #ffff;
  font-size: 38px;
}

.footer-title {
  color: #6B6B6B;
  margin: 30px 0;
}

.footer__actions {
  display: flex;
  justify-content: center;
}

.footer__actions-input input, .footer__actions-button button {
  padding: 10px 20px;
}